.password-strength-target-icon {
  &:after {
    content: '\2807';
    font-size: 25px;
    color: #B3B3B3;
  }
}

.password-strength {
  width: 200px;
  padding: 10px 20px;

  &__title {
    margin: 10px 0px;
  }

  &__label {
    display: inline-block;
    font-size: 14px;
    margin: 10px 0px;
  }

  &__warning {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
}