.signup-modal-content {
  &__input {
    width: 100%;
  }

  &__captcha-input {
    width: 50%;
    margin-right: 20px;
  }

  &__password-container {
    position: relative;
  }

  &__password-strength {
    position: relative;
    float: right;
    top: 30px;
    margin-bottom: -45px;
    z-index: 1;
  }

  &__captcha-button {
    padding: 0;
  }

  &__submit-btn {
    width: 100%;
  }

  &__options {
    font-size: 14px;
  }

  &__switch-btn {
    color: #00BCD4;
    margin-left: 5px;
  }

  &__tfa-resend-btn {
    color: #00BCD4;
    font-size: 14px;
    margin-top: 5px;
  }
}