@import "../../../partials/modal";

.user-auth {
  font-size: 16px;
  float: right;

  &__modal {
    float: left;
  }

  &__button {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;

    &:hover {
      text-decoration: none;
    }
  }
}

.signup-modal {
  @include modal(350px, auto);
}

.login-modal {
  @include modal(350px, auto)
}