.button-as-link {
  background-color: transparent;
  border: 0;
  box-sizing: content-box;
  align-items: baseline;
  font-size: inherit;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:disabled {
    color: #CCC;
    cursor: default;

    &:hover {
      text-decoration: none;
    }
  }
}