<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

<body>
<h1>Error! <%= statusCode %></h1>
<span><%= message %></span>
<script src="/build/webapp.bundle.js" charset="utf-8"></script>
</body>
</html>