<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

<body>
<h1>Error! <% errorCode %></h1>
<span><% errorContent %></span>
<script src="/compiled/js/webapp.bundle.js" charset="utf-8"></script>
</body>
</html>