<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>

<body>
<div id="8weike-app-container">
  <%= reactContent %>
</div>
<script src="/compiled/js/webapp.bundle.js" charset="utf-8"></script>
</body>
</html>