.nav-bar {
  background-color: #eeeeee;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  font-size: 20px;
  line-height: 30px;
  font-family: Roboto;
  
  &__logo {
    float: left;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }
}

.regular-header {
  height: 60px;
}